.post-card{
  border-radius: 10px;
  overflow: hidden;
  background-color:#F7F7F7;

  &__info{
    padding: rem(24px);

    a{
      .carret{
        display: inline-block;
        margin-left: 6px;
        svg{
          transform: rotate(-90deg);
          height: 6px;
          position: relative;
          top: -2px;
        }
      }
    }
  }

  .date{
    text-transform: uppercase;
    font-size: rem(13px);
    font-weight: 300;
    font-family: $header__fontname;
    margin-bottom: rem(15px);
  }

  h4{
    margin-bottom: rem(15px);
  }
  
}